body{
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 8px 12px;
  border: 1px solid #ffffff;
}

th {
  background-color: #00000030;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #ffffffa2;
}

a:hover {
  text-decoration: underline;
  color: greenyellow;
}
